# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env

# Reference databases — keep on /fast, not in git
taxdump/
taxdump.tar.gz
*.dmp

#VirusHostDB
virushostdb/

# Test Proteomes
build_reference_db/toy_dataset
build_reference_db/uniprot_reference_proteomes

# Pipeline outputs
*_output/
logs/
tmp/
*.m8
*.classified.tsv
classify_logs.txt

# Lasso 2021 paper repository
VirusHost_mimicry_Science2021/